#container {
    width: auto;
    height: auto;
    padding: 10px;
    float:left;
}

#requirementPart {
	width: auto;
	height: auto;
	float:left;
	margin-right: 50px;
}

#trapezoid {
	border-bottom: 100px solid red;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 100px;
	margin-left: auto;
  	margin-right: auto;
}

.reqFillIn {
	width: auto;
	height: 100px;
	background-color: #ccc;
	margin-left: auto;
  	margin-right: auto;
}

#box {
	width: auto;
	height: 100px;
	background-color: #ccc;
	margin-left: auto;
  	margin-right: auto;
}

#reqBox {
	width: 80px;
	height: auto;
	background-color: #fff;
	margin-left: auto;
  	margin-right: auto;
  	display: none;
  	word-wrap: break-word;
}

#reqDBbox {
	width: auto;
	height: 100px;
	background-color: #ccc;
	margin-left: auto;
  	margin-right: auto;
}

.vertical-arrow {
	background: darkcyan;
	padding: 15px 0;
	width: 50px;
	height: 100px;
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 20px solid darkcyan;
	margin-left: auto;
  	margin-right: auto;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 30px solid darkcyan;
	float:left;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-right: 30px solid darkcyan;
	float:left;
}

.horizontal-arrow {
	background: darkcyan;
	padding: 15px 0;
	width: 100px;
	height: 30px;
  	float:left;
}

#architecturePart {
	width: auto;
	height: auto;
	float:left;
}

#functionalPart {
	float:left;
}

#technicalPart {
	float:left;
}

#architectureTrapezoid {
	border-bottom: 350px solid red;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 600px;
	margin-left: auto;
  	margin-right: auto;
}

#sourceCodeAndManualPart {
	width: auto;
	height: auto;
	float:left;
	margin-left: 40px;
}

#manualTestScript {
	width: 100px;
	height: 100px;
	background-color: #ccc;
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 50px;
}

.blur {
	width: 545px;
	height: 320px;
	position: absolute;
	left: -10px;
	top: 300px;
	background-color: #fff;
	opacity: 0.8;
	z-index: 4;
	display:none;
}

#FAMproductScope {
	width: 505px;
	height: 320px;
	background-color: #ccc;
	position: absolute;
	left: 330px;
	padding-left: 20px;
	padding-right: 20px;
}

#FAMproductScopeContainer {
	position: absolute;
	left: 10px;
	top: -300px;
}

.FAMmodule {
	position:absolute;
	word-wrap: break-word;
	 box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 1;
}

.FAMmoduleSubmodule {
	width: 80px;
	height: 100px;
	background-color: #73AD21;
	position: absolute;
	left: 100px;
	top: 400px;
	display: none;
	z-index: 1000;
}

.close {
	float:right;
}

.FAMmoduleSubSubmodule {
	background-color: #fff;
	position: absolute;
	z-index: 1;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.featureList {
	background-color: #000;
	color: #fff;
	position: absolute;
	left: 40px;
	top: 120px;
	display: none;
	z-index: 2;
}

.FAMhorizontalLine {
  height: 0px;
  width: 80px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  position: absolute;
}

.FAMverticalLine {
  height: 42px;
  width: 0px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  position: absolute;
}

.FAMarrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;
	position: absolute;
}

.FAMarrow-down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid black;
	position: absolute;
}

.FAMarrow-right {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid black;
	position:absolute;
}

.FAMarrow-left {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid black;
	position: absolute;
}

.FAMarrowText {
	position: absolute;
	font-size: 12px;
	color: black;
}